/* Basic Styles */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f9f9f9;
}

a {
  color: #2196F3; /* Primary Color */
  text-decoration: none;
}

a:hover {
  color: #FFC107; /* Secondary Color */
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #333; /* Dark color for headings */
}

h2 {
  font-size: 1.8rem;
  margin-top: 2rem;
  color: #444; /* Slightly darker color for subheadings */
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #555; /* Lighter color for sub-subheadings */
}

p {
  line-height: 1.6;
  color: #666; 
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Main Content Styles */
main {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

article, section {
  margin-bottom: 2rem;
}

/* Application List Styles */
.application-list {
  padding: 0;
}

.application-list li {
  margin-bottom: 2rem;
}

/* Benefit List Styles */
.benefit-list {
  list-style-type: disc;
  padding-left: 1.5rem;
}

/* Form Styles */
form {
  margin-top: 2rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #2196F3;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #1976D2;
}

/* Contact Section Styles */
#contact {
  background-color: #f2f2f2;
  padding: 2rem;
  text-align: center;
  border-radius: 12px;
}

.section__text__p1 {
  color: #555;
  font-size: 1.2rem;
}

.title {
  color: #333;
  margin-bottom: 1.5rem;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
}

.contact-info-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact-info-container img {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info-container p {
  color: #333;
  font-size: 1rem;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer li {
  margin-right: 1rem;
}

footer a {
  color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  img {
    max-width: 100%;
  }
}
